html, body {
  height: 100%; 
  margin: 0;    
}


#root {
  height: 100%;   
}

.App {
  display: flex;
  background-color: black;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100%;  
}

.App body{
  display: flex;
  height: fit-content;
}



